@keyframes incursor {
  from {
    opacity: 0;}
  to {
    opacity: 1;} }

.opposite, .cursor, .cursor::after {
  user-select: none;
  pointer-events: none;
  mix-blend-mode: difference; }

html {
  cursor: none !important; }

a {
  cursor: none !important;
}

.faq-question {
  cursor: none !important; 
  background-color: #00ff00;
  color: #000;
}

.faq-question:hover {
  background-color: #60ff60;
  color: #000;
}

.cursor {
  display: none;
  width: 10px;
  height: 28px;
  background: rgb(255, 0, 166);
  position: fixed;
  transition-timing-function: ease-out; 
  filter: invert(100%);
  z-index: 100;
  animation: incursor 0.1s infinite alternate;
}

.incursor {
  border: none;
  background: rgb(0, 255, 85); 
  animation: none;

}